<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order tracking</title>
</head>
<body>
<h1>ATTENTION!!!4!</h1>
<h2>If you delete an order, you delete the customer as well with all of their orders too!</h2>
<h2>Please proceed with caution</h2>
<form th:action="@{/deleteDemand}" method="post">
    <label>Order id:
        <input type="number" name="id">
    </label>
    <button type="submit">Delete</button>
</form>
<a th:href="@{/demands}">Back to Orders</a>
</body>
</html>